
body{
  background-color: rgb(242,242,247);
  height: 100%;
  width: 100%;
  margin: 0;
}
.App-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
background-color: #F5F5F5;
border-bottom: 0px solid rgb(58, 58, 74);
width: 100%;
height: 5em;
margin: 0 auto;
box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2)
}
.container-1{
  position: absolute;
 top: 50%;
left: 50%;
  transform: translate(-50%, -50%);
  width: 35em;
  height: 25em;
  background-color: #F5F5F5;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
 
}
.box-3{
  display: flex;
  background: url("github.png");
  filter: opacity(0.5);
  width: 10em;
  height: 3.9em;
  background-repeat: no-repeat;
  align-items: center;
}
.box-2{
  background: url("linkedin.png");
  filter: opacity(0.5);
  width: 3.9em;
  height: 3.9em;
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: center;
}
.box-1{
  filter: opacity(0.5);
  width: 3.9em;
  height: 3.9em;
  background: url("gmail.png");
  background-repeat: no-repeat;
  background-size: 100%;
  
}
.btn-1{
  width: 3.5em;
  height: 3.5em;
  color: #F5F5F5;
  border-radius: 100em;
  filter: opacity(0.25);
  background: url('arrow.png');
  background-size: 3.2em;
  background-repeat: no-repeat;
  border-width: 0px;
  margin-left: 40.5em;
  margin-top: 12.5em;
}
.btn-2{
  position: absolute;
  filter: opacity(0.5);
  width: 3.5em;
  height: 3.5em;
  border-radius: 100em;
  filter: opacity(0.25);
  background: url('arrow.png');
  background-size: 3.2em;
  background-repeat: no-repeat;
  border-width: 0px;
  margin-left: -1.98em;
  top: 12.5em;
  transform: rotate(180deg);
}
.p-1{
  font-family: 'Segoe UI';
  font-size: xx-large;
  display: flex;
  width: 12em;
  height: calc(63%);
  margin-left: 3em;
  margin-top: calc(-29%);
  text-align: center;
  filter: opacity(0.5);
  
}
.footer{
  position: fixed;
background-color: #F5F5F5;
border-bottom: 0px solid rgb(58, 58, 74);
width: 100%;
height: 5em;
bottom: 0;
box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2)
}
.imgs-x{
  display: flex;
  opacity: 1;
  justify-content: center;
  margin-top: -10em;
}
@media only screen and (max-width: 600px){

  body{
    background-color: rgb(242,242,247);
    height: 100%;
    width: 100%;
    margin: 0;
  }
  .App-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
  background-color: #F5F5F5;
  border-bottom: 0px solid rgb(58, 58, 74);
  width: 100%;
  height: 5em;
  margin: 0 auto;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2)
  }
  .container-1{
    position: absolute;
   top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25em;
    height: 25em;
    background-color: #F5F5F5;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
   
  }
  .box-3{
    display: flex;
    background: url("github.png");
    filter: opacity(0.5);
    width: 10em;
    height: 3.9em;
    background-repeat: no-repeat;
    align-items: center;
  }
  .box-2{
    background: url("linkedin.png");
    filter: opacity(0.5);
    width: 3.9em;
    height: 3.9em;
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: center;
  }
  .box-1{
    filter: opacity(0.5);
    width: 3.9em;
    height: 3.9em;
    background: url("gmail.png");
    background-repeat: no-repeat;
    background-size: 100%;
    
  }
  .btn-1{
    position: absolute;
    width: 3.5em;
    height: 3.5em;
    color: #F5F5F5;
    border-radius: 100em;
    filter: opacity(0.25);
    background: url('arrow.png');
    background-size: 3.2em;
    background-repeat: no-repeat;
    border-width: 0px;
    margin-left: 26.5em;
    margin-top: 14.2em;
  }
  .btn-2{
    position: absolute;
    filter: opacity(0.5);
    width: 3.5em;
    height: 3.5em;
    border-radius: 100em;
    filter: opacity(0.25);
    background: url('arrow.png');
    background-size: 3.2em;
    background-repeat: no-repeat;
    border-width: 0px;
    margin-left: 1em;
    margin-top: 1.5em;
    transform: rotate(180deg);
  }
  .p-1{
    font-family: 'Segoe UI';
    font-size: xx-large;
    display: flex;
    width: 10.5em;
    height: calc(50%);
    margin-left: 1.5em;
    margin-top: calc(3%);
    text-align: center;
    filter: opacity(0.5);
  }
  .footer{
    position: fixed;
  background-color: #F5F5F5;
  border-bottom: 0px solid rgb(58, 58, 74);
  width: 100%;
  height: 5em;
  bottom: 0;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2)
  }
  .imgs-x{
    display: flex;
    opacity: 1;
    justify-content: center;
    margin-top: 4em;
  }
}